.input-check {
    display: block;
    min-height: 1.5rem;
    line-height: 45px;
}
    .input-check.disabled{
        pointer-events: none;
        opacity: 0.75;
    }
    .input-check > input {
        width: 1.5em;
        height: 1.5em;
        margin-top: 0;
        vertical-align: middle;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid rgba(0, 0, 0, .25);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-print-color-adjust: exact;
        cursor: pointer;
        border-radius: 100%;
    }
        .input-check > input:checked {
            background-color: #066fd1;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
        }

.input-check > label {
    margin-left: 10px;
    cursor: pointer;
}
    .input-check > input:disabled, .input-check > input:disabled + label{
        opacity: 0.75;
    }

    .input-check.dark {
        color: #dce1e7;
    }

        .input-check.dark > input{
            background-color: #151f2c;
            border-color: #25384f;
        }

            .input-check.dark > input:checked {
                background-color: #151f2c;
            }
