select {
    padding: .5625rem 2.25rem .5625rem .75rem;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    width: 100%;
    appearance: none;
    outline: 0;
    color: #212529;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%238a97ab' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

    select:focus {
        outline: none;
        /*outline: 1px solid red;*/
    }

    select::-ms-expand {
        display: none;
    }

    select option {
        color: #212529;
    }

    select.danger {
        border-color: #dc3545;
    }

    select.success {
        border-color: #198754;
    }
